# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Version control
.git/
.gitignore

# Caches
.mypy_cache/
.pytype/
.pytest_cache/
.cache/

# OS files
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/

# Docs site builds
site/

